<h1>Membres <%= membres._id %></h1>
<table class="tableau">

				<tr>

					<th><a href=http://localhost:8081/trier/_id/<%= elm._id %> >_id</a></th>
					<th><a href=http://localhost:8081/trier/prenom/<%= elm._id %> >prenom</a></th>
					<th><a href=http://localhost:8081/trier/nom/<%= elm._id %> >nom</a></th>
					<th><a href=http://localhost:8081/trier/telephone/<%= elm._id %> >telephone</a></th>
					<th><a href=http://localhost:8081/trier/courriel/<%= elm._id %> >courriel</a></th>
					<th></th>
					<th>
					</th>
				</tr>
			<tr>
				<td><%= membres._id %></td>
				<th contenteditable><%= membres.prenom %></th>
				<th contenteditable><%= membres.nom %></th>
				<td contenteditable><%= membres.telephone %></td>
				<td contenteditable><%= membres.courriel %></td>
			</tr>
</table>
